<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="../static/Online_booking.css">
        <title>Rooms</title>
    </head>
    <body class="p-3 m-0 border-0 bd-example m-0 border-0">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="../static/img/clement-web-bezova.png" alt="Bootstrap" width="auto" height="80">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/Online_booking">
                        <button type="button" class="btn btn-warning">Online Booking</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">
                        <button type="button" class="btn btn-light">Home</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Gallery">
                        <button type="button" class="btn btn-light">Gallery</button>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact_us">
                        <button type="button" class="btn btn-light">Contact Us</button>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-pills nav-justified ms-auto p-2" id="ex1" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/login">
                        <button type="button" class="btn btn-warning">Login</button>
                        </a>
                    </li>
                    <li class="nav-item" role="presentation">
                        <a class="nav-link" href="/register">
                        <button type="button" class="btn btn-light">Register</button>
                        </a>
                    </li>
                </ul>
            </div>
            </div>
        </nav>
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                <div class="carousel-item active c-item">
                    <img src="../static/img/016a-hotel-clement-prague-standard-room-smallhq.jpg" class="d-block w-100 c-img" alt="first slide">
                </div>
                <div class="carousel-item c-item">
                    <img src="../static/img/018b-hotel-clement-prague-comfort-room-twin-view-hq (1).jpg" class="d-block w-100 c-img" alt="second slide">
                </div>
                <div class="carousel-item c-item">
                    <img src="../static/img/902-1.jpg" class="d-block w-100 c-img" alt="third slide">
                </div>
                <div class="carousel-item c-item">
                    <img src="../static/img/jprerovsky-hotel-clement-807-16a2955.jpg" class="d-block w-100 c-img" alt="4th slide">
                </div>
                <div class="carousel-item c-item">
                    <img src="../static/img/jprerovsky-hotel-clement-807-16a3047.jpg" class="d-block w-100 c-img" alt="5th slide">
                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
                </button>
            </div>
            <br>
            <br>
            <div class="text-center">
                <h1>Rooms</h1>
                <br>
                <h3>CENTRAL BOUTIQUE ACCOMMODATION IN PRAGUE</h3>
                <br>
                <p class="my-1">Our designers have carefully crafted air-conditioned hotel rooms at Hotel Clement Prague, designed to make you feel at home. The rooms are divided into different</p>
                <p class="my-1">categories, allowing everyone to find their favourite.</p>
                <br>
                <p class="my-1">All our central Prague accommodation features very comfortable beds – either king or 2 twins, with full-size extra bed in triple rooms. All rooms are equipped with a</p>
                <p class="my-1">minibar, safety box, tea and coffee facilities, flat TV, bathrooms amenities, bath with shower or shower corner.</p>
                <p class="my-1">Should you look for space, we can offer you our spacious Junior Suite with seating and desk in small living room or our exclusive Superior Suite that offers two full</p>
                <p class="my-1">bathrooms, bedroom and living rooms equipped with 2 TV sets and Nespresso Coffee Machine. Both rooms can accommodate also one or two additional guests.</p>
                <br>
                <p class="my-1">Freshly refurbished Superior rooms on the 7th,  8th and 9th floor feature warm and accommodating design in coffee and honey colors, soft and luxury fabrics, and</p>
                <p class="my-1">natural oak wooden details that will give you the feeling of utmost luxury and comfort together with additional amenities like Nespresso Coffee Machine, bathrobes</p>
                <p class="my-1">and slippers, sider choice of bathroom cosmetics and in addition complimentary water and fresh fruit on arrival.</p>
                <p class="my-1">In our top category, on our top floor, we present black-and-red design Superior Rooms with Balcony and Superior Rooms with Panoramic windows offering a</p>
                <p class="my-1">magnificent view of the river and Prague city. Whether you prefer romantic views or fresh air, you won’t be disappointed. It is hard to describe it, it needs to be</p>
                <p class="my-1">experienced…simply the best rooms to stay in Prague.</p>
                <br>
                <br>
            </div>        
            <div class="container">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-5">
                    <div class="col">
                        <div class="card h-100" style="width: 360px; height: 666px;">
                            <img src="../static/img/jprerovsky-hotel-clement-807-16a2955_standard.jpg" class="card-img-top" alt="1">
                            <div class="text-center">
                                <br>
                                <h5>SUPERIOR SUITE</h5>
                                <br>
                                <p>The Superior Suite of Hotel Clement Prague is a 2-room suite featuring an adjoined bedroom and living room equipped with 2 working desks, comfortable seating...</p>
                                <p><small>Rates from</small></p>
                                <p><small>75,60 €</small></p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100" style="width: 360px; height: 666px;">
                            <img src="../static/img/jprerovsky-hotel-clement-802-16a2754-min_standard.jpg" class="card-img-top" alt="2">
                            <div class="text-center">
                                <br>
                                <h5>SUPERIOR WITH BALCONY</h5>
                                <br>
                                <p>Superior Rooms with Balcony are located on the top floors of Hotel Clement Prague and offer magnificent views of the city of Prague over its rooftops.</p>
                                <p><small>Rates from</small></p>
                                <p><small>75,60 €</small></p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100" style="width: 360px; height: 666px;">
                            <img src="../static/img/902-1_standard.webp" class="card-img-top" alt="3">
                            <div class="text-center">
                                <br>
                                <h5>SUPERIOR WITH PANORAMIC WINDOW</h5>
                                <p>Our most romantic rooms - Superior Room with Panoramic Window are located on the top floor of Hotel Clement Prague and offer magnificent views of the city...</p>
                                <p><small>Rates from</small></p>
                                <p><small>49,56 €</small></p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100" style="width: 360px; height: 666px;">
                            <img src="../static/img/jprerovsky-hotel-clement-807-16a2955-web_standard.jpg" class="card-img-top" alt="4">
                            <div class="text-center">
                                <br>
                                <h5>SUPERIOR ROOM</h5>
                                <br>
                                <p>Thanks to its location on the 8th floor, the Superior rooms of Hotel Clement Prague are full of sun and light, offering mostly views over the rooftops or the river.</p>
                                <p><small>Rates from</small></p>
                                <p><small>41,16 €</small></p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100" style="width: 360px; height: 666px;">
                            <img src="../static/img/017-hotel-clement-prague-standard-junior-suite_standard.jpg" class="card-img-top" alt="5">
                            <div class="text-center">
                                <br>
                                <h5>JUNIOR SUITE</h5>
                                <br>
                                <p>Love the space? Then the Junior Suite of Hotel Clement is the best choice for you. Decorated in light natural colors, it offers extra space for relaxing...</p>
                                <p><small>Rates from</small></p>
                                <p><small>41,16 €</small></p>
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card h-100" style="width: 360px; height: 666px;">
                            <img src="../static/img/015-hotel-clement-prague-comfort-room-fullhq_standard.jpg" class="card-img-top" alt="6">
                            <div class="text-center">
                                <br>
                                <h5>COMFORT DOUBLE/TWIN ROOM</h5>
                                <br>
                                <p>City or street view and more space – thoseare the main benefits of Comfortable rooms over the same-looking Standard rooms.</p>
                                <br>
                                <p><small>Rates from</small></p>
                                <p><small>36,96 €</small></p>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <br>
                <br>
                <br>
            </div>
            <h5>
                <small>
                    <footer class="text-center text-lg-start bg-body-tertiary text-muted">
                        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                            <div class="me-5 d-none d-lg-block">
                                <span>Get connected with us on social networks:</span>
                            </div>
                            <div>
                                <a href="https://www.facebook.com/HotelClementPlague" class="me-4 text-reset">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a href="https://twitter.com/HotelClementPlague" class="me-4 text-reset">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.google.com" class="me-4 text-reset">
                                    <i class="fab fa-google"></i>
                                </a>
                                <a href="https://www.instagram.com/HotelClementPlague" class="me-4 text-reset">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.linkedin.com" class="me-4 text-reset">
                                    <i class="fab fa-linkedin"></i>
                                </a>
                                <a href="https://www.github.com" class="me-4 text-reset">
                                    <i class="fab fa-github"></i>
                                </a>
                            </div>
                        </section>
                        <section>
                            <div class="container text-center text-md-start mt-5">
                                <div class="row mt-3">
                                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                        <h6 class="text-uppercase fw-bold mb-4">
                                            <i class="fas fa-gem me-3"></i>Hotel Clement Plague
                                        </h6>
                                        <p>RinaniRita</p>
                                        <br>
                                        <p><small>2024 Hotel Clement designed by RinaniRita</small></p>
                                    </div>
                                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                        <h6 class="text-uppercase fw-bold mb-4">Social networks</h6>
                                        <p>
                                            <a href="https://www.facebook.com/HotelClementPlague" class="text-reset">Facebook</a>
                                        </p>
                                        <p>
                                            <a href="https://www.instagram.com/HotelClementPlague" class="text-reset">Instagram</a>
                                        </p>
                                        <p>
                                            <a href="https://twitter.com/HotelClementPlague" class="text-reset">Twitter</a>
                                        </p>
                                        <p>
                                            <a href="https://www.youtube.com/channel/HotelClementPlague" class="text-reset">YouTube</a>
                                        </p>
                                    </div>
                                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                        <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                                        <p>
                                            <a href="#!" class="text-reset">Pricing</a>
                                        </p>
                                        <p>
                                            <a href="#!" class="text-reset">Settings</a>
                                        </p>
                                        <p>
                                            <a href="#!" class="text-reset">Orders</a>
                                        </p>
                                        <p>
                                            <a href="#!" class="text-reset">Help</a>
                                        </p>
                                    </div>
                                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                                        <p><i class="fas fa-home me-3"></i> Ha Noi, HN 735, VN</p>
                                        <p>
                                            <i class="fas fa-envelope me-3"></i> HotelClementPlague@gmail.com
                                        </p>
                                        <p><i class="fas fa-phone me-3"></i> + 09 234 777 88</p>
                                        <p><i class="fas fa-print me-3"></i> + 06 274 567 09</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                            © 2024 HotelClement.com. All rights reserved.
                        </div>
                    </footer>
                </small>
            </h5>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz4fnFO9gybBud7TlRbs/ic4AwGcFZOxg5DpPt8EgeUIgIwzjWfXQKWA3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    </body>
</html>