<!doctype html>
<html lang="en">
    <head>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        
        <link rel="stylesheet" href="../static/Login.css">
        <title>Login</title>
    </head>
    <body class="p-3 m-0 border-0 bd-example m-0 border-0">

        <section class="vh-100">
            <div class="container-fluid">
            <div class="row">
                
                <div class="col-sm-6 text-black">
        
                <div class="px-5 ms-xl-4">
                <a href="/">
                    <img src="../static/img/clement-web-bezova.png" alt="Bootstrap" width="auto" height="100">
                </a>
                    
                    <span class="h1 fw-bold mb-0"><br>Hotel Clement PLAGUE</span>
                </div>
                
                <div class="d-flex align-items-center h-custom-2 px-5 ms-xl-4 mt-5 pt-5 pt-xl-0 mt-xl-n5">
        
                    <form style="width: 23rem;">
                
                    <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Log in</h3>

                <form method ="POST" action="/login">
                    <div class="form-outline mb-4">
                        <input type="email" id="form2Example18" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example18">Email address</label>
                    </div>
                    
                    <div class="form-outline mb-4">
                        <input type="password" id="form2Example28" class="form-control form-control-lg" />
                        <label class="form-label" for="form2Example28">Password</label>
                    </div>
                
                    <div class="pt-1 mb-4">
                        <input class="btn btn-info btn-lg btn-warning btn-block" type="submit" value="Login">
                    </div>

                
                                    
                    <p class="small mb-5 pb-lg-2"><a class="text-muted" href="/forgot_pass">Forgot password?</a></p>
                    <p>Don't have an account? <a href="/register" class="link-warning">Register here</a></p>
        
                    </form>
                </form>
                </div>
        
                </div>
                <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="../static/img/012-hotel-clement-prague-terrace-hq.jpg"
                    alt="Login image" class="w-100 vh-100" style="object-fit: cover; object-position: left;">
                </div>
            </div>
            </div>
        </section>
        <h5>
            <small>
                <footer class="text-center text-lg-start bg-body-tertiary text-muted">
                    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
                        <div class="me-5 d-none d-lg-block">
                            <span>Get connected with us on social networks:</span>
                        </div>
                        <div>
                            <a href="https://www.facebook.com/HotelClementPlague" class="me-4 text-reset">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="https://twitter.com/HotelClementPlague" class="me-4 text-reset">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="https://www.google.com" class="me-4 text-reset">
                                <i class="fab fa-google"></i>
                            </a>
                            <a href="https://www.instagram.com/HotelClementPlague" class="me-4 text-reset">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="https://www.linkedin.com" class="me-4 text-reset">
                                <i class="fab fa-linkedin"></i>
                            </a>
                            <a href="https://www.github.com" class="me-4 text-reset">
                                <i class="fab fa-github"></i>
                            </a>
                        </div>
                    </section>
                    <section>
                        <div class="container text-center text-md-start mt-5">
                            <div class="row mt-3">
                                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4">
                                        <i class="fas fa-gem me-3"></i>Hotel Clement Plague
                                    </h6>
                                    <p>RinaniRita</p>
                                    <br>
                                    <p><small>2024 Hotel Clement designed by RinaniRita</small></p>
                                </div>
                                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4">Social networks</h6>
                                    <p>
                                        <a href="https://www.facebook.com/HotelClementPlague" class="text-reset">Facebook</a>
                                    </p>
                                    <p>
                                        <a href="https://www.instagram.com/HotelClementPlague" class="text-reset">Instagram</a>
                                    </p>
                                    <p>
                                        <a href="https://twitter.com/HotelClementPlague" class="text-reset">Twitter</a>
                                    </p>
                                    <p>
                                        <a href="https://www.youtube.com/channel/HotelClementPlague" class="text-reset">YouTube</a>
                                    </p>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4">Useful links</h6>
                                    <p>
                                        <a href="#!" class="text-reset">Pricing</a>
                                    </p>
                                    <p>
                                        <a href="#!" class="text-reset">Settings</a>
                                    </p>
                                    <p>
                                        <a href="#!" class="text-reset">Orders</a>
                                    </p>
                                    <p>
                                        <a href="#!" class="text-reset">Help</a>
                                    </p>
                                </div>
                                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                                    <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                                    <p><i class="fas fa-home me-3"></i> Ha Noi, HN 735, VN</p>
                                    <p>
                                        <i class="fas fa-envelope me-3"></i> HotelClementPlague@gmail.com
                                    </p>
                                    <p><i class="fas fa-phone me-3"></i> + 09 234 777 88</p>
                                    <p><i class="fas fa-print me-3"></i> + 06 274 567 09</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
                        © 2024 HotelClement.com. All rights reserved.
                    </div>
                </footer>
            </small>
        </h5>
        
    </body>
</html>